<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>車です。

常磐線のトラブルで電車が遅延してます。

11時過ぎて出社されると思います。

お忙しいところ申し訳ありません。

よろしくお願いします。</string>
	<string>おはようございます。
車です。

申し訳ありません、朝寝坊しまいました。
1時間ほど遅くなります。

よろしくお願いします。</string>
	<string>おはようございます。
        車です。
        
        バスが遅延で到着したので、5分ほど遅くなります。
        
        よろしくお願いします。</string>
	<string>おはようございます。
        車です。
        
        道が混んでバスが遅延してますので、5分〜10分ほど遅くなります。
        
        よろしくお願いします。</string>
</array>
</plist>
